{% extends 'base.html' %}
{% block content %}
 <h3> Employee name: {{ name }} </h3>
{# {% set array1=[] %}#}
    <a href="{{ url_for('check_time') }}">Go back</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Clock in</th>
      <th scope="col">Clock out</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
    <tr>
      <th scope="row">{{ (data['clock_in']['hour_UTC']-offset)|date_convert }}</th>
      <td>{{ (data['clock_in']['hour_UTC']-offset)|hour_convert }}</td>
      <td>{{ (data['clock_out']['hour_UTC']-offset)|hour_convert }}</td>
    </tr>
{#        {% if array1.append(total) %}{% endif %}#}
    {% endfor %}
  </tbody>
</table>
{% endblock %}